In [30]:
import tushare as ts
import os
import pandas as pd
import sqlalchemy
from dotenv import load_dotenv
load_dotenv()
api_key = os.getenv("API_KEY")
password = os.getenv("PASSWORD")
database = os.getenv("DATABASE")
db_conn_str = \
    r'mysql+pymysql://root:{password}@{host}:{port}/{database}'.format(
        password=password,
        host='localhost',
        port=3306,
        database=database
    )
engine = sqlalchemy.create_engine(db_conn_str)
ts.set_token(api_key)
pro = ts.pro_api()

In [2]:
pro.daily()

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,920819.BJ,20250806,4.24,4.24,4.18,4.22,4.22,0.00,0.0000,81355.86,34214.221
1,920799.BJ,20250806,58.71,58.71,58.20,58.56,58.55,0.01,0.0171,20192.99,118026.637
2,920682.BJ,20250806,10.41,11.11,10.40,11.11,10.29,0.82,7.9689,214447.04,232439.938
3,920489.BJ,20250806,23.00,23.50,22.84,23.15,22.90,0.25,1.0917,56442.98,131026.484
4,920445.BJ,20250806,11.39,11.74,11.17,11.44,11.39,0.05,0.4390,54154.53,61848.622
...,...,...,...,...,...,...,...,...,...,...,...
5995,688297.SH,20250805,58.32,60.28,57.51,57.99,58.21,-0.22,-0.3779,136130.61,799386.296
5996,688296.SH,20250805,14.40,14.67,14.30,14.62,14.29,0.33,2.3093,27043.16,39287.291
5997,688295.SH,20250805,21.92,22.59,21.90,22.57,21.91,0.66,3.0123,39160.19,87721.780
5998,688293.SH,20250805,57.50,60.58,57.10,59.34,57.00,2.34,4.1053,18649.46,109560.542
5999,688292.SH,20250805,22.86,22.97,22.26,22.44,22.84,-0.40,-1.7513,29014.63,65123.802

In [3]:
cq = ts.pro_bar(adj='None',ts_code='301299.SZ',start_date='20200806',end_date='20250806')
hfq = ts.pro_bar(adj='hfq',ts_code='301299.SZ',start_date='20200806',end_date='20250806')
qfq = ts.pro_bar(adj='qfq',ts_code='301299.SZ',start_date='20200806',end_date='20250806')
delta = sum(hfq['amount']-cq['amount'])
cq

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,301299.SZ,20250806,65.33,66.27,65.04,66.26,65.34,0.92,1.41,16677.00,109722.858
1,301299.SZ,20250805,65.85,66.16,64.94,65.34,65.77,-0.43,-0.65,15484.00,101217.608
2,301299.SZ,20250804,65.00,65.89,64.43,65.77,65.57,0.20,0.31,14704.22,96016.637
3,301299.SZ,20250801,65.00,66.26,64.13,65.57,64.85,0.72,1.11,21882.00,142457.160
4,301299.SZ,20250731,65.25,66.79,64.50,64.85,65.32,-0.47,-0.72,21987.20,144453.020
...,...,...,...,...,...,...,...,...,...,...,...
676,301299.SZ,20221025,46.57,46.57,40.88,40.92,47.40,-6.48,-13.67,70691.92,305753.857
677,301299.SZ,20221024,44.34,48.51,44.00,47.40,45.95,1.45,3.16,62654.22,293039.847
678,301299.SZ,20221021,45.70,49.60,45.70,45.95,45.14,0.81,1.79,71849.31,340292.196
679,301299.SZ,20221020,42.66,47.47,42.22,45.14,48.69,-3.55,-7.29,73981.57,330625.435
680,301299.SZ,20221019,50.88,55.28,48.58,48.69,29.99,18.70,62.35,97924.29,503773.926

In [4]:
hfq

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,301299.SZ,20250806,71.52,72.55,71.20,72.53,71.53,1.00,1.40,16677.00,109722.858
1,301299.SZ,20250805,72.09,72.43,71.09,71.53,72.00,-0.47,-0.65,15484.00,101217.608
2,301299.SZ,20250804,71.16,72.13,70.53,72.00,71.78,0.22,0.31,14704.22,96016.637
3,301299.SZ,20250801,71.16,72.53,70.20,71.78,70.99,0.79,1.11,21882.00,142457.160
4,301299.SZ,20250731,71.43,73.12,70.61,70.99,71.51,-0.52,-0.73,21987.20,144453.020
...,...,...,...,...,...,...,...,...,...,...,...
676,301299.SZ,20221025,46.57,46.57,40.88,40.92,47.40,-6.48,-13.67,70691.92,305753.857
677,301299.SZ,20221024,44.34,48.51,44.00,47.40,45.95,1.45,3.16,62654.22,293039.847
678,301299.SZ,20221021,45.70,49.60,45.70,45.95,45.14,0.81,1.79,71849.31,340292.196
679,301299.SZ,20221020,42.66,47.47,42.22,45.14,48.69,-3.55,-7.29,73981.57,330625.435
680,301299.SZ,20221019,50.88,55.28,48.58,48.69,29.99,18.70,62.35,97924.29,503773.926

In [5]:
qfq

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,301299.SZ,20250806,65.33,66.27,65.04,66.26,65.34,0.92,1.41,16677.00,109722.858
1,301299.SZ,20250805,65.85,66.16,64.94,65.34,65.77,-0.43,-0.65,15484.00,101217.608
2,301299.SZ,20250804,65.00,65.89,64.43,65.77,65.57,0.20,0.31,14704.22,96016.637
3,301299.SZ,20250801,65.00,66.26,64.13,65.57,64.85,0.72,1.11,21882.00,142457.160
4,301299.SZ,20250731,65.25,66.79,64.50,64.85,65.32,-0.47,-0.72,21987.20,144453.020
...,...,...,...,...,...,...,...,...,...,...,...
676,301299.SZ,20221025,42.54,42.54,37.34,37.38,43.30,-5.92,-13.67,70691.92,305753.857
677,301299.SZ,20221024,40.50,44.31,40.19,43.30,41.97,1.33,3.17,62654.22,293039.847
678,301299.SZ,20221021,41.75,45.31,41.75,41.97,41.24,0.73,1.77,71849.31,340292.196
679,301299.SZ,20221020,38.97,43.36,38.57,41.24,44.48,-3.24,-7.28,73981.57,330625.435
680,301299.SZ,20221019,46.48,50.50,44.38,44.48,27.40,17.08,62.34,97924.29,503773.926

In [9]:
count=0
print(qfq.iloc[1][6])
for i in range(681):
    if qfq.iloc[1][7] !=  cq.iloc[1][7]:
        count=count+1
count

65.77

0

In [35]:
def get_daily_markets(ts_code:list=[], start_date:str='20200806', end_date:str='20250806', strategy:str='conservative'):
    load_dotenv()
    api_key = os.environ.get("API_KEY")
    ts.set_token(api_key)
    pro = ts.pro_api()

    merged_list = []
    for each_code in ts_code:
        nan_count = 0
        merged = pd.DataFrame()
        while nan_count < 3:
            cq_data = ts.pro_bar(ts_code=each_code, start_date=start_date, end_date=end_date, adj=None)  # 不复权
            qfq_data = ts.pro_bar(ts_code=each_code, start_date=start_date, end_date=end_date, adj='qfq')  # 前复权
            hfq_data = ts.pro_bar(ts_code=each_code, start_date=start_date, end_date=end_date, adj='hfq')  # 后复权

            # 重命名除权&复权字段
            cq_data = cq_data.rename(columns={'vol':'volume'})
            qfq_data = qfq_data.rename(columns={'open': 'open_qfq', 'high': 'high_qfq', 'low': 'low_qfq', 'close': 'close_qfq', 'pre_close': 'pre_close_qfq', 'change': 'price_change_qfq'})
            hfq_data = hfq_data.rename(columns={'open': 'open_hfq', 'high': 'high_hfq', 'low': 'low_hfq', 'close': 'close_hfq', 'pre_close': 'pre_close_hfq', 'change': 'price_change_hfq'})

            merged = pd.merge(cq_data[['ts_code','trade_date','open','high','low','close','volume','amount']], qfq_data[['ts_code', 'trade_date', 'open_qfq', 'high_qfq', 'low_qfq', 'close_qfq', 'pre_close_qfq', 'price_change_qfq']], on=['ts_code', 'trade_date'], how='left')
            merged = pd.merge(merged, hfq_data[['ts_code', 'trade_date', 'open_hfq', 'high_hfq', 'low_hfq', 'close_hfq', 'pre_close_hfq', 'price_change_hfq']], on=['ts_code', 'trade_date'], how='left')

            if merged.isnull().any().any():  # 如果有空值
                nan_count += 1
                merged = pd.DataFrame()  # 清空merged
            else:
                break
        if nan_count == 3:
            print(f"已经尝试访问股票代码为{each_code}的股票3遍，仍有空值。")
            if strategy == 'conservative':
                print("采取保守策略(strategy=conservative)，数据不入库。")
                continue
            elif strategy == 'aggressive':
                print("采取激进策略(strategy=aggressive)，数据入库。")
            else:
                raise ValueError(f"无效的strategy参数: {strategy}。")
        merged_list.append(merged)
    if merged_list:
        final_df = pd.concat(merged_list, ignore_index=True)
        return final_df
    else:
        return pd.DataFrame()

In [36]:
get_daily_markets(ts_code=['000008.SZ','000009.SZ','000010.SZ'], start_date='20200806', end_date='20250806')

,ts_code,trade_date,open,high,low,close,volume,amount,open_qfq,high_qfq,low_qfq,close_qfq,pre_close_qfq,price_change_qfq,open_hfq,high_hfq,low_hfq,close_hfq,pre_close_hfq,price_change_hfq
0,000008.SZ,20250806,2.79,2.81,2.78,2.81,340210.47,95112.481,2.79,2.81,2.78,2.81,2.80,0.01,62.52,62.97,62.29,62.97,62.74,0.23
1,000008.SZ,20250805,2.78,2.80,2.77,2.80,307077.00,85675.466,2.78,2.80,2.77,2.80,2.78,0.02,62.29,62.74,62.07,62.74,62.29,0.45
2,000008.SZ,20250804,2.75,2.78,2.73,2.78,319743.56,88277.851,2.75,2.78,2.73,2.78,2.76,0.02,61.62,62.29,61.17,62.29,61.85,0.44
3,000008.SZ,20250801,2.77,2.79,2.75,2.76,390296.73,107900.750,2.77,2.79,2.75,2.76,2.77,-0.01,62.07,62.52,61.62,61.85,62.07,-0.22
4,000008.SZ,20250731,2.83,2.84,2.76,2.77,608328.06,169623.002,2.83,2.84,2.76,2.77,2.84,-0.07,63.41,63.64,61.85,62.07,63.64,-1.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3634,000010.SZ,20200812,3.98,3.98,3.89,3.98,44192.00,17344.918,3.98,3.98,3.89,3.98,3.98,0.00,42.88,42.88,41.91,42.88,42.88,0.00
3635,000010.SZ,20200811,4.08,4.10,3.98,3.98,101655.00,40996.080,4.08,4.10,3.98,3.98,4.12,-0.14,43.96,44.18,42.88,42.88,44.39,-1.51
3636,000010.SZ,20200810,4.08,4.14,4.07,4.12,39932.00,16421.382,4.08,4.14,4.07,4.12,4.09,0.03,43.96,44.61,43.85,44.39,44.07,0.32
3637,000010.SZ,20200807,4.19,4.22,4.06,4.09,67046.27,27649.517,4.19,4.22,4.06,4.09,4.19,-0.10,45.15,45.47,43.74,44.07,45.15,-1.08
3638,000010.SZ,20200806,4.14,4.32,4.09,4.19,113519.21,47600.526,4.14,4.32,4.09,4.19,4.13,0.06,44.61,46.55,44.07,45.15,44.50,0.65

In [44]:
from utils.utils import *
import pymysql.err
def upsert_to_mysql(engine, ts_codes:list=[],start_date:str='20200806', end_date:str='20250806', strategy:str='conservative', table_name='stock_daily'):
    df_uncleaned = get_daily_markets(ts_codes,start_date,end_date,strategy)
    if df_uncleaned is None or df_uncleaned.empty:
        print("传入的DataFrame为空，操作已跳过。")
        return
    # 处理缺失值：将 DataFrame 中所有的 np.nan (以及 pd.NaT) 替换为 None。
    # .astype(object) 确保所有列都能容纳 None，然后 .where 进行替换。
    df = df_uncleaned.astype(object).where(pd.notnull(df_uncleaned), None)
    # 从 DataFrame 获取列名
    cols = [f"`{col}`" for col in df.columns]
    cols_str = ", ".join(cols)
    # 构造 VALUES 部分的具名占位符
    placeholders = ", ".join(f":{col}" for col in df.columns)
    # 构造 ON DUPLICATE KEY UPDATE 部分
    primary_key = ['ts_code', 'trade_date']  # 根据表结构，主键是 ts_code和 trade_date
    update_cols = []
    for col in df.columns:
        if col not in primary_key:
            update_cols.append(f"`{col}`=VALUES(`{col}`)")
    update_str = ", ".join(update_cols)
    sql_query = f"""
        INSERT INTO `{table_name}` ({cols_str})
        VALUES ({placeholders})
        ON DUPLICATE KEY UPDATE {update_str}
    """
    # 将清洗后的 DataFrame 转换为字典列表
    data_list_of_dicts = df.to_dict(orient='records')

    # 执行SQL
    try:
        if not ensure_table_exists(engine, table_name):
            raise pymysql.err.ProgrammingError("并未发现已存在的表格；同时尝试创建表格也失败了。")
        with engine.connect() as conn:
            with conn.begin() as transaction:
                conn.execute(sqlalchemy.text(sql_query), data_list_of_dicts)
                transaction.commit()
            print(f"成功向表格 '{table_name}' 同步了 {len(df)} 条数据。")
    except Exception as e:
        print(f"写入数据库时发生错误:{e}")

In [45]:
upsert_to_mysql(engine, ts_codes=['000008.SZ','000009.SZ','000010.SZ'])

:ts_code, :trade_date, :open, :high, :low, :close, :volume, :amount, :open_qfq, :high_qfq, :low_qfq, :close_qfq, :pre_close_qfq, :price_change_qfq, :open_hfq, :high_hfq, :low_hfq, :close_hfq, :pre_close_hfq, :price_change_hfq
表格 'stock_daily' 已存在，无需创建。
成功向表格 'stock_daily' 同步了 3639 条数据。