In [1]:
import tushare as ts
from dotenv import load_dotenv
import os
load_dotenv()
api_key = os.environ.get("API_KEY")
ts.set_token(api_key)
pro = ts.pro_api()
df = ts.pro_bar(ts_code='873001.bj', start_date='20200806', end_date='20250806', adj='cq')

C:\Users\31021\anaconda3\envs\tushare_3.11\Lib\site-packages\tushare\pro\data_pro.py:130: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['adj_factor'] = data['adj_factor'].fillna(method='bfill')

In [17]:
pro.index_member_all(ts_code='000001.SZ')['name'][0]

'平安银行'

In [2]:
pro.index_weight(index_code='399300.SZ', start_date='20180901', end_date='20180930')

    index_code   con_code trade_date  weight
0    399300.SZ  601318.SH   20180928  7.0920
1    399300.SZ  600519.SH   20180928  3.5060
2    399300.SZ  600036.SH   20180928  3.0260
3    399300.SZ  601166.SH   20180928  1.9000
4    399300.SZ  000651.SZ   20180928  1.8490
..         ...        ...        ...     ...
595  399300.SZ  601108.SH   20180903  0.0385
596  399300.SZ  002608.SZ   20180903  0.0361
597  399300.SZ  601838.SH   20180903  0.0345
598  399300.SZ  601212.SH   20180903  0.0325
599  399300.SZ  601878.SH   20180903  0.0241

[600 rows x 4 columns]

In [20]:
pro.index_basic(fields="ts_code,name,fullname,market,publisher,index_type,category,base_date,base_point,list_date,"
                                           "weight_rule,desc,exp_date")

,ts_code,name,fullname,market,publisher,index_type,category,base_date,base_point,list_date,weight_rule,desc,exp_date
0,000001.CJ,能源(长江),长江证券能源指数,OTH,长江证券股份有限公司,定制,行业指数,20021231,1000.0,20200910,其他,基于长江证券公布的行业分类标准编制的行业指数。,None
1,000001.SH,上证指数,上证综合指数,SSE,中证指数有限公司,上证综合指数,综合指数,19901219,100.0,19910715,其他,上证综合指数由在上海证券交易所上市的符合条件的股票与存托凭证组成样本，反映上海证券交易所上市...,None
2,000002.CJ,原材料(长江),长江证券原材料指数,OTH,长江证券股份有限公司,定制,行业指数,20021231,1000.0,20200910,其他,基于长江证券公布的行业分类标准编制的行业指数。,None
3,000002.SH,上证A指,上证A股指数,SSE,中证指数有限公司,上证规模指数,规模指数,19901219,100.0,19920221,其他,上证A股指数的样本股是全部上海证券交易所上市A股，反映了上市A股的股价整体变动状况。,None
4,000003.CJ,工业(长江),长江证券工业指数,OTH,长江证券股份有限公司,定制,行业指数,20021231,1000.0,20200910,其他,基于长江证券公布的行业分类标准编制的行业指数。,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,932272CNY210.CSI,港股通计算机(全)CNY,中证港股通计算机综合人民币全收益指数,CSI,中证指数有限公司,港股通行业指数,二级行业指数,20211231,3000.0,20240308,其他,中证港股通行业综合指数系列在中证港股通综合指数样本中，按中证行业分类标准进行分类，以进入各一...,None
7996,932272HKD210.CSI,港股通计算机(全),中证港股通计算机综合全收益指数,CSI,中证指数有限公司,港股通行业指数,二级行业指数,20211231,3000.0,20240308,其他,中证港股通行业综合指数系列在中证港股通综合指数样本中，按中证行业分类标准进行分类，以进入各一...,None
7997,932273.CSI,港股通医疗器械,中证港股通医疗器械综合指数,CSI,中证指数有限公司,港股通行业指数,三级行业指数,20211231,3000.0,20240308,其他,中证港股通行业综合指数系列在中证港股通综合指数样本中，按中证行业分类标准进行分类，以进入各一...,None
7998,932273CNY100.CSI,港股通医疗器械人民币中间价,中证港股通医疗器械综合人民币中间价指数,CSI,中证指数有限公司,港股通行业指数,三级行业指数,20211231,3000.0,20240308,其他,中证港股通行业综合指数系列在中证港股通综合指数样本中，按中证行业分类标准进行分类，以进入各一...,None
7999,932273CNY110.CSI,港股通医疗器械人民币中间价(全),中证港股通医疗器械综合人民币中间价全收益指数,CSI,中证指数有限公司,港股通行业指数,三级行业指数,20211231,3000.0,20240308,其他,中证港股通行业综合指数系列在中证港股通综合指数样本中，按中证行业分类标准进行分类，以进入各一...,None

In [18]:
idf = pro.index_weight(index_code="000300.SH",start_date='20041231', end_date='20250808')

In [19]:
idf

     index_code   con_code trade_date  weight
0     000300.SH  600519.SH   20250801  4.1366
1     000300.SH  300750.SZ   20250801  3.2304
2     000300.SH  601318.SH   20250801  2.9113
3     000300.SH  600036.SH   20250801  2.5554
4     000300.SH  601166.SH   20250801  1.7403
...         ...        ...        ...     ...
5995  000300.SH  601808.SH   20241031  0.0450
5996  000300.SH  300957.SZ   20241031  0.0440
5997  000300.SH  000800.SZ   20241031  0.0420
5998  000300.SH  603296.SH   20241031  0.0260
5999  000300.SH  001289.SZ   20241031  0.0140

[6000 rows x 4 columns]

In [12]:
idf['trade_date'].unique()

array([], dtype=object)

In [31]:
cq = ts.pro_bar(ts_code='000300.SH', asset='I',start_date='20230101', end_date='20250701', adj='cq')
qfq = ts.pro_bar(ts_code='000300.SH', asset='I',start_date='20230101', end_date='20250701', adj='qfq')
hfq = ts.pro_bar(ts_code='000300.SH', asset='I',start_date='20230101', end_date='20250701', adj='hfq')
cq

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,000300.SH,20250701,3942.7620,3935.9078,3946.2451,3924.7219,3936.0791,6.6829,0.1698,128959362.0,2.360703e+08
1,000300.SH,20250630,3936.0791,3920.3149,3940.3611,3911.6044,3921.7578,14.3213,0.3652,145170236.0,2.888214e+08
2,000300.SH,20250627,3921.7578,3949.7879,3969.2626,3918.2041,3946.0195,-24.2617,-0.6148,194557913.0,3.434682e+08
3,000300.SH,20250626,3946.0195,3953.1603,3964.4820,3945.2589,3960.0662,-14.0467,-0.3547,165316263.0,3.281028e+08
4,000300.SH,20250625,3960.0662,3907.0682,3963.0371,3902.1771,3904.0342,56.0320,1.4352,187213671.0,3.617273e+08
...,...,...,...,...,...,...,...,...,...,...,...
597,000300.SH,20230109,4013.1196,3998.5278,4023.0898,3990.7073,3980.8888,32.2308,0.8096,117054425.0,2.332124e+08
598,000300.SH,20230106,3980.8888,3969.5493,4000.4143,3966.4696,3968.5782,12.3106,0.3102,110953038.0,2.357443e+08
599,000300.SH,20230105,3968.5782,3913.4928,3974.8750,3912.2600,3892.9477,75.6305,1.9428,116502395.0,2.563126e+08
600,000300.SH,20230104,3892.9477,3886.2504,3905.9032,3873.6549,3887.8992,5.0485,0.1299,110660743.0,1.989977e+08
601,000300.SH,20230103,3887.8992,3864.8356,3893.9904,3831.2450,3871.6338,16.2654,0.4201,115051875.0,2.075402e+08

In [32]:
qfq

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,000300.SH,20250701,3942.7620,3935.9078,3946.2451,3924.7219,3936.0791,6.6829,0.1698,128959362.0,2.360703e+08
1,000300.SH,20250630,3936.0791,3920.3149,3940.3611,3911.6044,3921.7578,14.3213,0.3652,145170236.0,2.888214e+08
2,000300.SH,20250627,3921.7578,3949.7879,3969.2626,3918.2041,3946.0195,-24.2617,-0.6148,194557913.0,3.434682e+08
3,000300.SH,20250626,3946.0195,3953.1603,3964.4820,3945.2589,3960.0662,-14.0467,-0.3547,165316263.0,3.281028e+08
4,000300.SH,20250625,3960.0662,3907.0682,3963.0371,3902.1771,3904.0342,56.0320,1.4352,187213671.0,3.617273e+08
...,...,...,...,...,...,...,...,...,...,...,...
597,000300.SH,20230109,4013.1196,3998.5278,4023.0898,3990.7073,3980.8888,32.2308,0.8096,117054425.0,2.332124e+08
598,000300.SH,20230106,3980.8888,3969.5493,4000.4143,3966.4696,3968.5782,12.3106,0.3102,110953038.0,2.357443e+08
599,000300.SH,20230105,3968.5782,3913.4928,3974.8750,3912.2600,3892.9477,75.6305,1.9428,116502395.0,2.563126e+08
600,000300.SH,20230104,3892.9477,3886.2504,3905.9032,3873.6549,3887.8992,5.0485,0.1299,110660743.0,1.989977e+08
601,000300.SH,20230103,3887.8992,3864.8356,3893.9904,3831.2450,3871.6338,16.2654,0.4201,115051875.0,2.075402e+08

In [33]:
hfq

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,000300.SH,20250701,3942.7620,3935.9078,3946.2451,3924.7219,3936.0791,6.6829,0.1698,128959362.0,2.360703e+08
1,000300.SH,20250630,3936.0791,3920.3149,3940.3611,3911.6044,3921.7578,14.3213,0.3652,145170236.0,2.888214e+08
2,000300.SH,20250627,3921.7578,3949.7879,3969.2626,3918.2041,3946.0195,-24.2617,-0.6148,194557913.0,3.434682e+08
3,000300.SH,20250626,3946.0195,3953.1603,3964.4820,3945.2589,3960.0662,-14.0467,-0.3547,165316263.0,3.281028e+08
4,000300.SH,20250625,3960.0662,3907.0682,3963.0371,3902.1771,3904.0342,56.0320,1.4352,187213671.0,3.617273e+08
...,...,...,...,...,...,...,...,...,...,...,...
597,000300.SH,20230109,4013.1196,3998.5278,4023.0898,3990.7073,3980.8888,32.2308,0.8096,117054425.0,2.332124e+08
598,000300.SH,20230106,3980.8888,3969.5493,4000.4143,3966.4696,3968.5782,12.3106,0.3102,110953038.0,2.357443e+08
599,000300.SH,20230105,3968.5782,3913.4928,3974.8750,3912.2600,3892.9477,75.6305,1.9428,116502395.0,2.563126e+08
600,000300.SH,20230104,3892.9477,3886.2504,3905.9032,3873.6549,3887.8992,5.0485,0.1299,110660743.0,1.989977e+08
601,000300.SH,20230103,3887.8992,3864.8356,3893.9904,3831.2450,3871.6338,16.2654,0.4201,115051875.0,2.075402e+08

In [36]:
qfq[qfq.ne(hfq).any(axis=1)]

Empty DataFrame
Columns: [ts_code, trade_date, close, open, high, low, pre_close, change, pct_chg, vol, amount]
Index: []

In [9]:
pro.adj_factor(ts_code='000005.SZ', trade_date='')

        ts_code trade_date  adj_factor
0     000005.SZ   20240425       9.268
1     000005.SZ   20240424       9.268
2     000005.SZ   20240423       9.268
3     000005.SZ   20240422       9.268
4     000005.SZ   20240419       9.268
...         ...        ...         ...
5995  000005.SZ   19990729       4.433
5996  000005.SZ   19990728       4.433
5997  000005.SZ   19990727       4.433
5998  000005.SZ   19990726       4.433
5999  000005.SZ   19990723       4.433

[6000 rows x 3 columns]

In [5]:
ts.pro_bar(ts_code='000001.SZ',adjfactor=True)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20250808,12.48,12.53,12.39,12.40,12.47,-0.07,-0.56,829795.91,1.032587e+06
1,000001.SZ,20250807,12.44,12.53,12.39,12.47,12.46,0.01,0.08,722053.05,9.007600e+05
2,000001.SZ,20250806,12.47,12.52,12.40,12.46,12.47,-0.01,-0.08,690447.65,8.596847e+05
3,000001.SZ,20250805,12.30,12.50,12.28,12.47,12.30,0.17,1.38,1132078.20,1.405152e+06
4,000001.SZ,20250804,12.24,12.38,12.21,12.30,12.28,0.02,0.16,1032689.69,1.271376e+06
...,...,...,...,...,...,...,...,...,...,...,...
5995,000001.SZ,20000323,18.50,18.72,18.26,18.61,18.48,0.13,0.70,82301.00,1.523178e+05
5996,000001.SZ,20000322,18.26,18.65,18.15,18.48,18.26,0.22,1.20,73829.00,1.355052e+05
5997,000001.SZ,20000321,18.22,18.39,18.00,18.26,18.22,0.04,0.22,69673.00,1.264777e+05
5998,000001.SZ,20000320,17.90,18.37,17.68,18.22,18.17,0.05,0.28,75644.00,1.370681e+05
5999,000001.SZ,20000317,17.80,18.32,17.78,18.17,NaN,NaN,NaN,88670.00,1.601297e+05

In [4]:
from utils.utils import *
pro = easyPro()
ts.pro_bar(ts_code='801770.SI')

Empty DataFrame
Columns: [ts_code, trade_date, open, high, low, close, pre_close, change, pct_chg, vol, amount]
Index: []

In [7]:
pro.sw_daily(ts_code='801080.SI')

,ts_code,trade_date,name,open,low,high,close,change,pct_change,vol,amount,pe,pb,float_mv,total_mv
0,801080.SI,20250811,电子,4951.52,4951.51,5049.13,5035.26,87.03,1.76,1006513.0,24418473.0,57.98,3.97,487071114.0,9.723873e+08
1,801080.SI,20250808,电子,4980.92,4946.59,4980.92,4948.23,-57.79,-1.15,898794.0,22053225.0,57.00,3.67,478652531.0,9.555061e+08
2,801080.SI,20250807,电子,5005.89,4973.24,5037.81,5006.02,22.27,0.45,1114251.0,28072677.0,57.67,3.95,484133329.0,9.633497e+08
3,801080.SI,20250806,电子,4925.69,4917.96,4984.28,4983.75,45.25,0.92,910278.0,22017253.0,57.36,3.93,481685271.0,9.574662e+08
4,801080.SI,20250805,电子,4927.86,4906.31,4940.11,4938.50,28.33,0.58,830885.0,19794070.0,56.85,3.89,476997837.0,9.511923e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3160,801080.SI,20120807,电子,1223.83,1222.57,1234.78,1233.85,9.57,0.78,50210.0,561182.0,36.06,2.58,20445399.0,4.782972e+07
3161,801080.SI,20120806,电子,1191.14,1188.81,1225.06,1224.28,29.51,2.47,52412.0,614116.0,35.78,2.56,20286969.0,4.747780e+07
3162,801080.SI,20120803,电子,1161.96,1160.99,1194.77,1194.77,35.09,3.03,43630.0,520498.0,34.92,2.49,19797966.0,4.633971e+07
3163,801080.SI,20120802,电子,1154.72,1153.28,1166.99,1159.68,2.83,0.24,36724.0,422992.0,33.90,2.41,19216391.0,4.498419e+07
3164,801080.SI,20120801,电子,1133.04,1132.40,1163.11,1156.86,21.65,1.91,33358.0,345041.0,33.67,2.41,19089111.0,4.452551e+07